:root {
    --green_colour: hsl(120, 100%, 80%);
    --green_colour_hover: hsl(120, 100%, 70%);
    --red_colour: hsl(0, 100%, 80%);
    --red_colour_hover: hsl(0, 100%, 70%);
}

button.hover_button {
    background-color: var(--link_background_color);
    border-radius: 0.5rem;
    padding: 0.5rem;
}
button.hover_button:hover {
    background-color: var(--link_hover_color)
}


button.button_green {
    background-color: var(--green_colour);
}
button.button_green:hover {
    background-color: var(--green_colour_hover);
}

button.button_red {
    background-color: var(--red_colour);
}
button.button_red:hover {
    background-color: var(--red_colour_hover);
}

.textdiv > input {
    margin-bottom: 1rem;
}