:root {
    --green_colour: hsl(120, 100%, 80%);
    --green_colour_hover: hsl(120, 100%, 70%);
    --red_colour: hsl(0, 100%, 80%);
    --red_colour_hover: hsl(0, 100%, 70%);
    --extra_colour: hsl(46, 73%, 94%);
    --extra_colour_hover: hsl(46, 73%, 74%);
    --secondary_colour: #F4E6B8;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--header_height) + 2rem);
}

button.hover_button {
    background-color: var(--link_background_color);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

button.hover_button:hover {
    background-color: var(--link_hover_color)
}

a {
    background-color: var(--extra_colour);
}

a:hover {
    background-color: var(--extra_colour_hover);
}


button.button_green {
    background-color: var(--green_colour);
}

button.button_green:hover {
    background-color: var(--green_colour_hover);
}

button.button_red {
    background-color: var(--red_colour);
}

button.button_red:hover {
    background-color: var(--red_colour_hover);
}

button.button_cyan {
    background-color: var(--extra_colour);
}

button.button_cyan:hover {
    background-color: var(--extra_colour_hover);
}

button.button_blue {
    background-color: var(--link_background_color);
}

button.button_blue:hover {
    background-color: var(--link_hover_color);
}

button.button_blue:disabled {
    background-color: #ccc;
}

.textdiv>input {
    margin-bottom: 1rem;
}

h3 {
    font-weight: bolder;
    font-size: 1.5rem;
}

table,
th,
td {
    border: 1px solid;
    padding: 0.2rem;
    text-align: center;
}

th {
    font-weight: bold;
}

tr>td:first-child {
    text-align: left;
}

table {
    border-collapse: collapse;
}

td {
    font-size: smaller;
    max-width: 25rem;
    overflow-wrap: break-word;
}

td>a {
    all: unset;
    text-decoration: none;
    color: black;
}

td>a:hover {
    all: unset;
    text-decoration: underline !important;
    cursor: pointer;
}

#map_results_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#map_results_div>div.map_section {
    width: fit-content;
    padding: 1rem;
    background-color: var(--secondary_colour);
    border-radius: 1rem;
    height: fit-content;
    height: 20rem;
    overflow-y: auto;
    scroll-padding-top: 1rem;
}

#results_shortcut_links_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#results_shortcut_links_div>* {
    margin: 0.1rem 0.1rem;
    width: fit-content;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.highlighted {
    border: 0.5rem solid rgb(193 114 0) !important;
}

#results_sorting_buttons_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#results_sorting_buttons_div>* {
    margin: 0.1rem 0.1rem;
    width: fit-content;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    background-color: var(--extra_colour);
    border-radius: 0.5rem;
    display: inline-block;
}

#results_sorting_buttons_div>*:hover {
    background-color: var(--extra_colour_hover);
}

#results_sorting_buttons_div * {
    cursor: pointer;
}

#results_sorting_buttons_div label {
    display: inline-block;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#results_sorting_buttons_div input {
    display: inline-block;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#player_results_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#player_results_div>a.player_link {
    margin: 0.1rem 0.1rem;
    width: fit-content;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.loading-spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loading-spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}